<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047185763547-4mmrtdgtn6tkk1c6i0ehoh32i9aam8cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047185763547-4mmrtdgtn6tkk1c6i0ehoh32i9aam8cm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1047185763547-9910l3i793hvvvolbuqhamohigekan5h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUqcPINFFjCCBOUFfuaUvxZumCO5ltzho</string>
	<key>GCM_SENDER_ID</key>
	<string>1047185763547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterParkingApp</string>
	<key>PROJECT_ID</key>
	<string>csuf-parking-6927d</string>
	<key>STORAGE_BUCKET</key>
	<string>csuf-parking-6927d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047185763547:ios:2491dbd71c9a61f2c270fe</string>
	<key>DATABASE_URL</key>
	<string>https://csuf-parking-6927d.firebaseio.com</string>
</dict>
</plist>